<template>
  <div class='{{ viewName }}'>
    {{ viewName }} View
  </div>
</template>

<script>
export default {
  name: '{{ viewName }}',
  components: {
  }
}
</script>
<style>
@import '../styles/main';
</style>
